extends info

block details
    section#form
        //form

        .container

            if checkOutNoti
                if (signUpError != '')
                    p=signUpError+"xd1"
                else
                    p=checkOutNoti+"xd2"
            else
                if (signUpError != '')
                    p(id="MessageError", value=signUpError, style="display: none;")=signUpError

            .center-login
                h1 Cambiar contraseña
                form(id='changePassword', action='/usr/' + customer.Username + '/change-password', method='POST', onsubmit="return(validatexd());")
                    .txt_field
                        input(type='password', id='current-password', name='currentPassword')
                        span
                        label Contraseña actual
                    p(id="errorCurrentPassword" style="color: red; display: none;")
                    .txt_field
                        input(type='password', id='new-password', name='newPassword')
                        span
                        label Nueva Contraseña
                    p(id="errorNewPassword" style="color: red; display: none;")
                    .txt_field
                        input(type='password', id='confirm-password', name='repeatPassword')
                        span
                        label Confirmar nueva Contraseña
                    p(id="errorConfirmPassword" style="color: red; display: none;")
                    input(type='submit', value='Actualizar contraseña')
                br
                br

    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(type='text/javascript').
        function validatexd() {

            var currentPassword = document.getElementById("current-password").value;
            var newPassword = document.getElementById("new-password").value;
            var repeatPassword = document.getElementById("confirm-password").value;
            var aprobado = 1;

            var paragraph = document.getElementById("errorCurrentPassword");
            paragraph.style.display = "none";
            if(currentPassword == "" || currentPassword.length < 1 || currentPassword.length > 20){
                paragraph.textContent = "*Por favor ingresa tu contraseña actual (longitud de minimo 8 y máximo 20 caracteres)";
                paragraph.style.display = "block"; 
                aprobado = 0;
            }

            var paragraph = document.getElementById("errorNewPassword");
            paragraph.style.display = "none";
            if(newPassword == "" || newPassword.length < 8 || newPassword.length > 20){
                paragraph.textContent = "*La longitud de tu nueva contraseña debe de ser de entre al menos 8 y 20 caracteres";
                paragraph.style.display = "block"; 
                aprobado = 0;
            }

            var paragraph = document.getElementById("errorConfirmPassword");
            paragraph.style.display = "none";
            if(repeatPassword == "" || repeatPassword.length < 8 || repeatPassword.length > 20){
                paragraph.textContent = "*La longitud de tu nueva contraseña debe de ser de entre al menos 8 y 20 caracteres";
                paragraph.style.display = "block"; 
                aprobado = 0;
            }

            var paragraph = document.getElementById("errorConfirmPassword");
            if(repeatPassword != newPassword){
                paragraph.style.display = "none";
                paragraph.textContent = "*Las nuevas contraseñas ingresadas no coinciden";
                paragraph.style.display = "block"; 
                aprobado = 0;
            }

        
            if(aprobado == 0) {
                return( false );
            }else if(aprobado == 1) {
                return( true );
            }
            
        }

        var MessageError = document.getElementById("MessageError").textContent;
        console.log(document.getElementById("MessageError").textContent); 
        if (MessageError != ''){
            Swal.fire({icon: 'warning',
                        title: 'Datos invalidos',
                        text: MessageError,
                        confirmButtonColor: '#005A9C'});
        }
