extends layout

block content
    section#form
        //form
        .container

                    if checkOutNoti
                            if (signInError != '')
                                p=signInError
                            else
                                p=checkOutNoti
                        else
                            if (signInError != '')
                                p=signInError
                    
                    .center-login
                        h1 Reseteo de  Contraseña
                        form(id='reset-password', action='/reset-password-send', method='POST')
                            .txt_field
                                input(type='email', required='true', name='email', maxlength="50")
                                span
                                label Ingresa el email asociado a tu cuenta
                            input(type='submit', value='Resetear Contraseña')
                            
                            .signup_link
                                | ¿Aún no tienes cuenta? 
                                a(href='/sign-up') Regístrate en Iocus
                                br
                                br
    ///form