extends layout

block content
    section#form
        //form
        .container

                    if checkOutNoti
                            if (signInError != '')
                                p=signInError
                            else
                                p(id="MessageError", style="display: none;")=checkOutNoti
                        else
                            if (signInError != '')
                                p=signInError
                    
                    .center-login
                        h1 Reseteo de  Contraseña
                        form(id='reset-password', action='/reset-password-send', method='POST')
                            .txt_field
                                input(type='email', required='true', name='email', maxlength="50")
                                span
                                label Ingresa el email asociado a tu cuenta
                            input(type='submit', value='Resetear Contraseña')
                            
                            .signup_link
                                | ¿Aún no tienes cuenta? 
                                a(href='/sign-up') Regístrate en Iocus
                                br
                                br
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(type='text/javascript').
        if (document.getElementById("MessageError").value != ''){
            Swal.fire({icon: 'warning',
                        title: 'Email invalido',
                        text: 'El email ingresado no ha sido registrado en Iocus',
                        footer: '<a href="/sign-up">Regístrate aquí si aún no tienes una cuenta</a>'});
        }