extends layout

block content
    section#form
        //form
        .container

                    if checkOutNoti
                            if (signInError != '')
                                p=signInError
                            else
                                p(id="MessageError", style="display: none;")=checkOutNoti
                        else
                            if (signInError != '')
                                p=signInError
                    
                    .center-login
                        h1 Reseteo de  Contraseña
                        form(id='reset-password', action='/reset-password-send', method='POST', onsubmit = "return(validate());")
                            .txt_field
                                input(type='text', name='email')
                                span
                                label Ingresa el email asociado a tu cuenta
                            p(id="errorEmail" style="color: #d9534f; display: none;")
                            input(type='submit', value='Resetear Contraseña')
                            
                            .signup_link
                                | ¿Aún no tienes cuenta? 
                                a(href='/sign-up') Regístrate en Ecommerce
                                br
                                br
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(type='text/javascript').
        if (document.getElementById("MessageError").value != ''){
            Swal.fire({icon: 'warning',
                        title: 'Email invalido',
                        confirmButtonColor: '#005A9C',
                        text: 'El email ingresado no ha sido registrado en Ecommerce',
                        footer: '<a href="/sign-up">Regístrate aquí si aún no tienes una cuenta</a>'});
        }

        // validacion de form
        function validate() {
            
            var email = document.forms["reset-password"]["email"].value;
            var aprobado = 1;
            
            var paragraph = document.getElementById("errorEmail");
            paragraph.style.display = "none";
            if(email == "" || email.length < 1 || email.length > 50 || !email.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)){
                paragraph.textContent = "*Por favor ingresa un email valido.";
                paragraph.style.display = "block"; 
                aprobado = 0;
            }

            if(aprobado == 0) {
                return( false );
            }else if(aprobado == 1) {
                return( true );
            }          
        }